/* proprietà generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

header {
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 33;
}

main {
    margin-top: 60px;
    height: calc(100vh - 60px - 80px);
    overflow-y: auto;
}

footer {
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    z-index: 33;

}

/* header */

.top-menu {
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    color: white;
}

.top-menu p {
    background-color: #8c8c8c;
    margin-left: 10px;
    padding: 3px;
}


/* main */

.container {
    max-width: 1700px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.container-img {
    width: calc(100% / 7);
    margin-bottom: 10px;
    position: relative;
}

.container-img img {
    height: 142px;
}

.username {
    position: absolute;
    bottom: 6px;
    left: 0;
    color: white;
}

.container-username {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 110px;
    height: 30px;
    background-color: rgba(41, 41, 41, 0.5);
}